<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE mab SYSTEM './config.dtd' [
<!ENTITY seuil '10800'>
]>

<mab version="4.9.2" debug="false" name="SQL Sandbox">
	<!-- numéro de version de l'application -->
	<!-- durée limite de vie d'une copie de base : 60*60*3 = 3 heures -->
	<seuil>&seuil;</seuil>
	
	<dossierBdD>./bdd</dossierBdD>
	
	<aPropos>
		<div class="post">
			<h2 class="title">A propos de SQL et du SGBD utilisé</h2>
			<h3 class="posted">par E. Desmontils</h3>
			<div class="story">
				<p>Cette petite application est développée sous PHP 5.6.27 min. (<a
						href="http://www.php.net/">http://www.php.net/</a>), avec SQLite3 3.8.10.2
					comme SGBD (<a href="http://www.sqlite.org/">http://www.sqlite.org/</a>). Par
					conséquent la syntaxe de SQL et les fonctions associées sont celles de SQLite.
					Pour plus de renseignements, consulter <a href="http://www.sqlite.org/lang.html"
						>http://www.sqlite.org/lang.html</a>.</p>
				<p><a href="http://www.sqlite.org/"><img src="./images/sqlite.gif" alt="SQLite.org"
						/></a></p>
			</div>
		</div>

		<div class="post">
			<h2 class="title">Quelques remarques sur SQLite</h2>
			<div class="story">
				<h3>Opérateur SQL 'Distinct' et SQLite</h3>
				<p>Attention, certaines versions de SQLite (dont celle utilisée à ce jour par OVH)
					n’acceptent pas les «distinct» dans une fonction de calcul. Il faut alors
					trouver d’autres solutions. Par exemple : <br/> "Select count(X) From (select
					distinct X From Table Where ...)"  <br/>=  <br/>"Select count(distinct X) From
					Table Where ..." </p>
				<h3>Parenthèses et jointures dans SQLite</h3>
				<p>Attention, dans le "from", SQLite (version actuelle) "t1 natural join t2 natural
					join t3" ne donne pas le même résultat que "(t1 natural join t2) natural join
					t3". En effet, il considère les parenthèses comme une sous requête. Il renomme
					donc les colonnes avec un nom "aléatoire". Du coup, l'utilisation des attributs
					(dans le "select" ou le "where" par exemple), n'est plus possible. Il faut donc
					préférer la version sans parenthèses.</p>
				<h3>Guillemets</h3>
				<p>En SQLite, les valeurs de type chaine de caractères doivent être entourées de
					guillemets (par exemple "Dupont") et non d'apostrophe (exemple 'Dupont').</p>
			</div>
		</div>
	</aPropos>

	<mentions>
		<p>Cette petite application Web a été développée à des fins pédagogiques. Elle ne peut donc
			aucunement être utilisée pour d'autre desseins. Elle est mise à disposition dans la
			mesure où son utilisation n'est pas détournée. L'auteur ne peut être considéré
			responsable des dysfonctionnements ou pertes de données en cas d'utilisation détournée
			et se réserve le droit de la supprimer à tout moment.</p>
		<p>Application développée et testée avec PHP 5.6.27, SQLite 3.8.10.2 et SimpleXML
			(rev. d7077fc935154236afb4fe70814ba358efdbdca4).</p>
		<p>Design adapté du modèle "<a href="http://www.freecsstemplates.org/preview/dusplic/"
				>dusplic</a>" de <a href="http://www.freecsstemplates.org/"><strong>Free CSS
					Templates</strong></a>, sous licence <a href="./license.txt">Creative
			Common</a>.</p>
		<p>Icônes prises sur <a href="http://www.iconspedia.com/">http://www.iconspedia.com/</a>
			dans le jeu "<a href="http://www.iconspedia.com/pack/basic-set-2061/">Basic set</a>" de
			PixelMixer (<a href="http://pixel-mixer.com/">http://pixel-mixer.com/</a>) sous licence
				CC-by-sa.<br/><!--img src="http://www.iconspedia.com/common/images/logo.jpg"
				width="100" alt="CC-by-sa"/--></p>
		<p>Effets et développement JavaScript grâce aux frameworks <a
				href="http://www.prototypejs.org">prototypejs.org<!--img
					src="http://www.prototypejs.org/images/logo-home.gif" alt="prototypejs.org"
				/--></a> et <a href="http://www.script.aculo.us">script.aculo.us<!--img
					src="http://www.script.aculo.us/scriptaculous_logo.png" width="300"
					alt="script.aculo.us"/--></a>.</p>
		<!--p>Projet soutenu par le Conseil Régional Des Pays de La Loire dans le cadre des projets
			ENRC 2008-2009.<br/><img src="./images/RVB-PDL_Institutionnel.jpg" width="25%"
				alt="Région Pays de la Loire"/></p-->
		<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/"><img
					alt="Contrat Creative Commons" style="border-width:0"
					src="http://i.creativecommons.org/l/by-nc-sa/2.0/fr/88x31.png"/></a><br/>Cette
			application est mise à disposition sous la licence <a rel="license"
				href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/">Creative Commons
				Paternité - Pas d'Utilisation Commerciale - Partage des Conditions Initiales à
				l'Identique 2.0 France</a> (<a
				href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/legalcode"
				>http://creativecommons.org/licenses/by-nc-sa/2.0/fr/legalcode</a>).</p>
	</mentions>

	<aides>
		<div class="post">
			<h2 class="title">Icônes utilisés</h2>
			<div class="story">
				<p><img src="images/home_64.png" width="32" alt="aide"/> : permet de consulter les
					informations sur l'application.</p>
				<p><img src="images/pencil_64.png" width="32" alt="éditer"/> : permet d'éditer une
					requête :</p><ul>
					<li>depuis la barre de menu, pour une nouvelle requête, celle présentée est la
						dernière faite ;</li>
					<li>depuis l'historique, pour retravailler une requête déjà proposée.</li>
				</ul>
				<p><img src="images/add_64.png" width="32" alt="aide"/> : permet de mémoriser une
					requête.</p>
				<p><img src="images/buy_64.png" width="32" alt="mémoire"/> : permet d'accéder au
					requêtes mémorisées durant la session courante. Il propose un tableau où, pour
					chaque requête, est indiqué son état (réussite <img src="images/tick_64.png"
						width="16" alt="ok"/> ou échec <img src="images/block_64.png" width="16"
						alt="ko"/>) et où il est possible de l'exécuter à nouveau, de l'éditer ou de
					la supprimer. Attention, un rechargement de la page perdra ces requêtes
					mémorisées.</p>
				<p><img src="images/help_64.png" width="32" alt="aide"/> : permet de consulter cette
					aide.</p>
				<p><img src="images/gear_64.png" width="32" alt="exécuter"/> :</p><ul>
					<li>depuis l'édition d'une requête pour lancer son exécution, l'affichage du
						résultat est alors fait juste en dessous ;</li>
					<li>depuis l'historique, pour exécuter à nouveau une requête déjà proposée (un
						nouveau clic efface le résultat).</li>
				</ul>
				<p><img src="images/delete_64.png" width="32" alt="supprimer"/> : permet, dans
					l'historique, de supprimer une requête.</p>
				<p><img src="images/Database.png" width="32" alt="base de données"/>UneBase : permet
					de consulter la description et le contenu d'une base de données.</p>
				<p><img src="images/info_64.png" width="32" alt="base de données"/> : Propose
					quelques informations concernant SQLite, ses particularités et ses
					limitations.</p>
				<p><img src="images/shield_64.png" width="32" alt="base de données"/> : Énonce les
					différentes mentions légales liées à cette application.</p>
			</div>
		</div>
	</aides>

	<!-- messages d'acceuil -->
	<listeMessages>
		<!--message titre="" post=""><p></p>
		</message-->
		<message titre="Mise à jours technique" date="03/11/16" auteur="E. Desmontils">
			<p>Une mise à jours technique a été effectuée pour passer à SQLite3.</p>
		</message>
		<message titre="Bienvenue" date="22/10/10 (màj le 22/11/11)" auteur="E. Desmontils">
			<p>Cette petite application Web a pour seul objectif de permettre aux étudiants novices
				de manipuler de petites bases de données. Elle permet d'effectuer des requêtes de
				recherche, mais aussi des requêtes de modification de la base. Ces modifications
				seront perdues à la fermeture de la page ou du navigateur. La base d'origine sera à
				nouveau accessible au prochain lancement du programme.</p>
		</message>

		<message titre="Nouvelle évolution" date="18/11/11" auteur="E. Desmontils">
			<p>SQLSandbox (version 4.5) mémorise maintenant les requêtes au niveau du navigateur (et
				non plus sur le serveur). La mémorisation des requêtes est donc perdue lorsque la
				page est rechargée.</p>
		</message>
		<message titre="Problèmes avec IE" date="16/11/11" auteur="E. Desmontils">
			<p>SQLSandbox ne fonctionne pas correctement avec IE 8. Le disfonctionnement, et surtout
				sa cause, ne sont pas encore bien identifiés. Avec IE 9, il semble fonctionner.</p>
		</message>
		<message titre="Vers une application 2.0 ?" date="15/11/11" auteur="E. Desmontils">
			<p>Cette nouvelle version (4.0) propose un fonctionnement mettant en œuvre des
				technologies plus récentes (plus 2.0). Bien sûr, un long chemin reste à faire...</p>
		</message>
		<message titre="Application partielle" date="24/10/10" auteur="E. Desmontils">
			<p>Attention, l'application est en cours de conception. Il reste certainement plein de
				problèmes (en particulier sur la gestion des requêtes mal rédigées, et plus
				généralement, la gestion des erreurs). Si vous trouvez des problèmes, merci de me le
				signaler.</p>
		</message>
	</listeMessages>

</mab>
