<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE base_de_donnee SYSTEM '../../config.dtd'>
<base_de_donnee nom="tp-em">
    <fichier nom="em.db"/>
    <référence/>
    <description>
        <p>Soit une base de données géographique orientée sur les fleuves et espaces maritimes du continent européen. Elle est décrite par les tables suivantes :</p>
        <ul>
            <li><b>Pays</b> (<em>id_p</em>,nom_p, superficie, nbhab)<br/>
                représente tous les pays – chaque pays est identifié par un identifiant et caractérisé par son nom, sa surface et le nombre d'habitants;</li>
            <li><b>EspaceMaritime</b>
                (<em>id_em</em>, nom_e, type)<br/>représente les espaces maritimes - chaque espace est identifié par un identifiant et est caractérisé par son nom et son type ("mer" ou "océan") ;</li>
            <li><b>Fleuve</b>
                (<em>id_f</em>, nom_f, longueur, #id_p, #id_em)<br/>représente les fleuves d’Europe - chaque fleuve est identifié par un identifiant et caractérisé par son nom, sa longueur, le pays dans lequel il prend sa source et l'espace maritime dans lequel il se jette;</li>
            <li><b>Cotoie</b>
                (#<em>id_p</em>, #<em>id_em</em>)<br/>représente la proximité entre un pays et un espace maritime ;</li>
            <li><b>Parcourt</b>
                (#<em>id_p</em>,#<em>id_f</em>)<br/>représente les pays parcourus par un fleuve.</li>
        </ul>
    </description>
    <liste-enseignants>
        <enseignant nom="Desmontils" prénom="Emmanuel" courriel="emmanuel.desmontils@univ-nantes.fr" xml:id="eED"/>
    </liste-enseignants>
    <liste-TP>
        <TP nom="tp-em-01" enseignant="eED">
            <name>tp-em-01</name>
            <objectif-pédagogique><p>Quelques requête simples.</p></objectif-pédagogique>
            <ref-question question="tr-em-01">
                <name_question>tr-em-01</name_question>
            </ref-question>
            <ref-question question="re-em-01">
                <name_question>re-em-01</name_question>
            </ref-question>
            <ref-question question="int-em-01">
                <name_question>int-em-01</name_question>
            </ref-question>
            <ref-question question="cmp-em-01">
                <name_question>cmp-em-01</name_question>
            </ref-question>
        </TP>
        <TP nom="tp-em-02">
            <name>tp-em-02</name>
            <objectif-pédagogique>Test</objectif-pédagogique>
            <ref-question question="tr-em-02">
                <name_question>tr-em-02</name_question>
            </ref-question>
            <ref-question question="re-em-02">
                <name_question>re-em-02</name_question>
            </ref-question>
        </TP>
    </liste-TP>
    <liste-questions>
        <rq-résultat xml:id="re-em-01" enseignant="eED">
            <name_quest>re-em-01</name_quest>
            <theme><projection/><sélection-simple/></theme>
            <intention>On recherche les fleuves de longueur supérieure à 1000 Km.</intention>
            <SQL>
                <Select>nom-f</Select>
                <From><Table>Fleuve</Table></From>
                <Where>longueur>1000</Where>
            </SQL>
        </rq-résultat>
        <rq-résultat xml:id="re-em-02">
            <name_quest>re-em-02</name_quest>
            <theme><projection/><sélection-simple/><jointure-simple/></theme>
            <intention></intention>
            <SQL>
                <Select>nom-f</Select>
                <From><Natural-Join>
                    <Table>Fleuve</Table>
                    <Table>Espace-Maritime</Table>
                </Natural-Join></From>
                <Where>type='mer'</Where>
            </SQL>
        </rq-résultat>
        <rq-trou xml:id="tr-em-01" enseignant="eED" disponibilité="ouvert">
            <name_quest>tr-em-01</name_quest>
            <theme><projection/></theme>
            <intention>On recherche les fleuves de longueur supérieure à 1000 Km.</intention>
            <SQL>
                <Select>nom-f</Select>
                <From><Table>Fleuve</Table></From>
                <Where>longueur>1000</Where>
            </SQL>
            <SQL>
                <Select></Select>
                <From><Table>Fleuve</Table></From>
                <Where>longueur>1000</Where>
            </SQL>
        </rq-trou>
        <rq-trou xml:id="tr-em-02">
            <name_quest>tr-em-02</name_quest>
            <theme><projection/><sélection-simple/></theme>
            <intention></intention>
            <SQL>
                <Select>nom-f</Select>
                <From><Natural-Join>
                    <Table>Fleuve</Table>
                    <Table>Espace-Maritime</Table>
                </Natural-Join></From>
                <Where>type='mer'</Where>
            </SQL>
            <SQL>
                <Select></Select>
                <From></From>
                <Where>type='mer'</Where>
            </SQL>
            <résultat/>
        </rq-trou>
        <rq-intention xml:id="int-em-01" enseignant="eED" disponibilité="ouvert">
            <name_quest>int-em-01</name_quest>
            <theme></theme>
            <intention>Le nom des fleuves qui se jettent dans une mer.</intention>
            <SQL>
                <Select>nom-f</Select>
                <From><Natural-Join>
                    <Table>Fleuve</Table>
                    <Table>Espace-Maritime</Table>
                </Natural-Join></From>
                <Where>type='mer'</Where>
            </SQL>
        </rq-intention>
        <rq-complète xml:id="cmp-em-01" enseignant="eED">
            <name_quest>cmp-em-01</name_quest>
            <theme><projection/><sélection-simple/><jointure-simple/></theme>
            <intention>Les fleuves qui se jettent dans une mer.</intention>
            <SQL>
                <Select>nom-f</Select>
                <From><Natural-Join>
                    <Table>Fleuve</Table>
                    <Table>Espace-Maritime</Table>
                </Natural-Join></From>
                <Where>type='mer'</Where>
            </SQL>
        </rq-complète>
    </liste-questions>
</base_de_donnee>